
    


  <div class="ar">
    <div routerLink="/{{menuRouter}}" class="bubble-main ">
      <div  class="bubble titulo">
        <div class="loader"></div>
        <p id="overlap"  >
        {{menuItems}} </p>
        <div class="contenido-bubble  ">
          <div class="encabezado">
            <div class="test"></div>
            
            <div class="new">
              <img class="overlord" src="/assets/sub-menu-1-{{menuLink}}.jpg" alt="">
        </div>
      </div>
      
    </div>
  </div>
</div> 
</div>
