



<div class="inicio-top">
  <div class="inicio-top-row">

    <a routerLink="/">35</a>  
    <h1 class="center-menu " >  Este es el menu de funcionalidad primero </h1>
    
    <div class="center">
        <ul>
          <li *ngFor="let sub of subMenu ">
            <div class="menu-bubble">
              <app-bubble    menuRouter="{{sub.router}}" menuItems="{{sub.titulo}}" menuLink="{{sub.img}}">
              </app-bubble>
            </div>
          </li>
        </ul>
        <h1>
      
        </h1>
      </div>
      

  </div>
</div>

<button
*ngIf="!contentHighlighted"
(click)="contentHighlighted = true">
Highlight Content
</button>

<button
*ngIf="contentHighlighted"
(click)="contentHighlighted = false">
Un-highlight Content
</button>

<style>
.highlighted{
    outline: 1px solid #fd9696;
    background-color: #fdfd96;
}
</style>