@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

:root {
    --main-bg-color: rgb(66, 0, 0);
    --color-burbuja: rgb(5, 94, 228);
    --segundo-burbuja:rgb(99, 27, 170);
}    
li  {
    list-style: none;
}    
h1{
    color: var(--main-bg-color)
}    
ul{
    text-align: center;
    padding-left: 0;
}    
.center{
    text-align: center;
    align-items: center;    
}    
    
.circulo{
    vertical-align: middle;
    
}    

