<div class="center">
  <div class="non-bubble">

    <app-inicio-top> </app-inicio-top>
  </div>




  <div class="inicio-top">
    <div id="big-circle" class="circle big">






      <ul>
        <li *ngFor="let sub of subMenu ">
          <app-bubble menuItems="{{sub.titulo}}" menuLink="{{sub.img}}">
          </app-bubble>
        </li>
      </ul>
      <div class="circle one"></div>
      <div class="circle two"></div>
      <div class="circle three"></div>
      <div class="circle four"></div>
      <div class="circle five"></div>
      <div class="circle six"></div>
    </div>
  </div>
  <h1>

  </h1>
</div>
